html {
  font-family: "Inconsolata", monospace;
}

body {
  position: relative;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-color: rgba(0, 0, 0, 1);
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

.scroll-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
}

.scroll-icon {
  width: 48px;
  height: 48px;
  background-color: #E50914;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-icon .chevron::before {
	border-style: solid;
	border-width: 4px 4px 0 0;
  border-radius: 2px;
	content: '';
	display: inline-block;
	height: 0.45em;
	vertical-align: top;
	width: 0.45em;
	transform: rotate(135deg);
  margin-top: 4px;
}
nav {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 80px;
  color: white;
  position: absolute;
  top: 0;
}

nav img {
  width: 130px;
  margin-right: 134px;
}

nav .dates ul {
  display: flex;
  flex-direction: row;
}

nav .dates ul li {
  font-size: 25px;
  margin: 0 56px;
}

nav .dates ul li a{
  color: white;
  text-decoration: none;
}

nav .dates ul li:hover a{
  text-decoration: underline;
}

.sections {
  padding-top: 12vh;
  height: 88vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.sections::-webkit-scrollbar {
  display: none;
}

section {
  height: 88vh;
  padding-top: 60px;
  scroll-snap-align: center;
}

section h1 {
  font-size: 84px;
  font-weight: 800;
  margin-left: 60px;
  width: 80%;
  line-height: 108px;
}

section h3 {
  font-size: 160px;
  margin-left: 160px;
  color: white;
}

#thirteen, #sixteen, #eighteen, #nineteen {
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: 60px;
  color: white;
  display: flex;
  align-items: center;
}

.details-text {
  font-size: 26px;
  text-transform: uppercase;
  margin-left: 108px;
}

.legend {
  display: flex;

}

.legend .netflix {
  color: #E50914;
}

.legend .netflix, .legend .others {
  display: flex;
  align-items: center;
}

.square {
  width: 28px;
  height: 28px;
  background-color: #fff;
  margin: 0 24px 0 48px;
}

.square.red {
  background-color: #E50914;
}

.score {
  margin-top: 16px;
}

.score p:first-child {
  color: #E50914;
  margin-bottom: 8px;
}

.opacity {
  text-transform: none;
  color: #888;
  margin-top: 16px;
}

#film2013, #film2016, #film2018, #film2019 {
  display: flex;
  width: 80%;
  height: 360px;
  margin: 0 auto;
  margin-top: 90px;
}

.infos {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 20;
}

.infos .cross {
  width: 42px;
  display: none;
}

.displayInfos {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.documentation {
  width: 50%;
  height: 90vh;
  background-color: #fff;
  border-radius: 16px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 100px;
}

.documentation h2 {
  font-size: 80px;
  font-weight: 800;
  color: #989898;
  margin-bottom: 36px;
}

.documentation h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.documentation p {
  color: #141414;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 36px;
}

.documentation::-webkit-scrollbar {
  width: 10px;
  right: 10px;
}

.documentation::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.documentation::-webkit-scrollbar-thumb {
  background: #888;
}

.documentation::-webkit-scrollbar-thumb:hover {
  background: #555;
}